---

# Virtualenv

- name: Sync virtualenv.
  become: yes
  become_user: "{{ app_user }}"
  shell:
    cmd: "{{ ansible_env.HOME }}/.local/bin/uv sync --frozen --extra prod"
    chdir: "{{ src_dir }}"
  tags: deploy

- name: Create the virtualenv postactivate script to set environment variables.
  template:
    src: django/virtualenv_postactivate_script.sh.j2
    dest: "{{ virtualenv_dir }}/bin/postactivate"
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: 0750
    backup: yes
  tags: deploy


# Source

- name: Create {{ project_dir }}.
  file:
    path: "{{ project_dir }}"
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: 0750
    state: directory

- name: Pull latest source code.
  become: yes
  become_user: "{{ app_user }}"
  git:
    repo: https://github.com/dimagi/commcare-sync.git
    dest: "{{ src_dir }}"
    version: master
    recursive: no
    accept_hostkey: yes
  tags: deploy

- name: Create the app folders.
  file:
    path: "{{ item }}"
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: 0750
    state: directory
  with_items:
    - "{{ log_dir }}"
    - "{{ run_dir }}"
    - "{{ static_dir }}"
    - "{{ media_dir }}"


# Django

- name: Create the local settings file
  template:
    src: django/settings_local.py.j2
    dest: "{{ src_dir }}/{{ app_name }}/settings_local.py"
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: 0640
    backup: yes
  tags: deploy

- name: Run Django database migrations.
  become: yes
  become_user: "{{ app_user }}"
  command:
    cmd: "{{ ansible_env.HOME }}/.local/bin/uv run manage.py migrate --database {{ item }}"
    chdir: "{{ src_dir }}"
  environment: "{{ app_environment }}"
  with_items:
    - default
  when: django_migrate is defined and django_migrate
  tags: deploy

- name: Run Django collectstatic.
  become: yes
  become_user: "{{ app_user }}"
  command:
    cmd: "{{ ansible_env.HOME }}/.local/bin/uv run manage.py collectstatic --no-input"
    chdir: "{{ src_dir }}"
  environment: "{{ app_environment }}"
  when: django_collectstatic is defined and django_collectstatic
  tags: deploy


# Start scripts + Supervisor

- name: Create the Gunicorn start script.
  template:
    src: django/gunicorn_start_script.j2
    dest: "{{ virtualenv_dir }}/bin/gunicorn_start"
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: 0750
    backup: yes
  tags: supervisor

- name: Create the Celery default start script.
  template:
    src: django/celery_default_start_script.j2
    dest: "{{ virtualenv_dir }}/bin/celery_default_start"
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: 0750
    backup: yes
  tags: supervisor

- name: Ensure the Supervisor service is running.
  service:
    name: supervisor
    state: started
    enabled: yes
  tags: supervisor

- name: Create the Gunicorn Supervisor config file.
  template:
    src: django/gunicorn_supervisor_config.j2
    dest: /etc/supervisor/conf.d/{{ app_name }}.conf
    backup: yes
  tags: supervisor

- name: Create the Celery default Supervisor config file.
  template:
    src: django/celery_default_supervisor_config.j2
    dest: /etc/supervisor/conf.d/{{ app_name }}_celery_default.conf
    backup: yes
  tags: supervisor

- name: Create Supervisor log files.
  copy:
    content: ""
    dest: "{{ log_dir }}/{{ item }}"
    force: no
    owner: "{{ app_user }}"
    group: "{{ app_group }}"
    mode: 0644
  with_items:
    - celery.log
    - gunicorn.log
    - django.log
  tags: supervisor

- name: Re-read the Supervisor config files.
  supervisorctl:
    name: "{{ item }}"
    state: present
  with_items:
    - "{{ app_name }}"
    - "{{ app_name }}_celery_default"
  tags: supervisor

- name: Restart the Supervisor config files.
  supervisorctl:
    name: "{{ item }}"
    state: restarted
  with_items:
    - "{{ app_name }}"
    - "{{ app_name }}_celery_default"
  tags:
    - deploy
    - supervisor

...
