[Unit]
Description=Celery daemon for {{ app_name }}
After=network.target

[Service]
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ src_dir }}
Environment="PATH={{ virtualenv_dir }}/bin:/usr/local/bin:/usr/bin:/bin"
Environment="DJANGO_SETTINGS_MODULE={{ django_settings_module }}"
ExecStart={{ virtualenv_dir }}/bin/celery_default_start
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
