from .settings import *

{% if django_secret_key %}
SECRET_KEY = '{{ django_secret_key }}'
{% endif %}
FERNET_KEYS = [
    {% for fernet_key in django_fernet_keys %}
    '{{ fernet_key }}',
    {% endfor %}
]

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ default_db_name }}',
        'USER': '{{ default_db_user }}',
        'PASSWORD': '{{ default_db_password }}',
        'HOST': '{{ default_db_host }}',
        'PORT': '{{ default_db_port }}',
    }
}


{% if django_allow_public_signups %}
ACCOUNT_ADAPTER = 'apps.users.account_adapter.EmailAsUsernameAdapter'
{% else %}
ACCOUNT_ADAPTER = 'apps.users.account_adapter.NoNewUsersAccountAdapter'
{% endif %}

ALLOWED_HOSTS = [
    '{{ public_host }}',
]

DEBUG = False

COMMCARE_SYNC_EXPORT_PERIODICITY = {{ commcare_sync_export_periodicity }}
TIME_ZONE = '{{ project_timezone }}'

COMMCARE_DEFAULT_SERVER = '{{ commcare_default_server }}'
