---

public_host: commcare-sync.example.com
superset_public_host: superset.example.com
superset_enabled: yes

app_user: "{{ ansible_user }}"
django_settings_module: "{{ app_name }}.local"

# Enable this if backup is required
postgresql_backup_enabled: false
# Add any other DBs separated with spaces
postgresql_backup_db_list: "superset"
postgresql_backups_to_keep: 5  # 0 will ignore this setting

...
