---

public_host: commcare-sync.example.com

superset_enabled: yes
superset_public_host: superset.example.com

app_user: "{{ ansible_user }}"

# Enable this if backup is required
postgresql_backup_enabled: false
# Add any other DBs separated with spaces
postgresql_backup_db_list: "superset"
postgresql_backups_to_keep: 5  # 0 will ignore this setting

...
